.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.center-horiz {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.no-padding-no-margin {
  padding: 0px;
  margin: 0px;
}

.primary {
  background-color: #464a50;
}

.secondary {
  background-color: #2d3136;
}

.board-bg {
  position: relative;
  z-index: 1;
}

.board-bg:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/board.jpeg");
  background-size: auto;
  opacity: 0.3;
}

.txt-xs {
  font-size: 12px;
}

.txt-xs-sm {
  font-size: 14px;
}

.txt-sm {
  font-size: 16px;
}

.txt-sm-md {
  font-size: 18px;
}

.txt-md {
  font-size: 24px;
}

.txt-md-lg {
  font-size: 28px;
}

.txt-lg {
  font-size: 32px;
}

.white-txt {
  color: #ffffff;
}

.grey-txt {
  color: #e2e2e2 !important;
}

.dark-grey-txt {
  color: #585858 !important;
}

.grey-link {
  color: #e2e2e2 !important;
}

.grey-link:hover {
  color: #ffffff !important;
}

.dark-grey-link {
  color: #585858 !important;
}

.dark-grey-link:hover {
  color: #1a1a1a !important;
}

.indicator {
  width: 50% !important;
  height: 50% !important;
  position: relative;
  top: 25%;
  opacity: 0.3;
  z-index: 2;
}

.half-blind {
  width: 120% !important;
  position: relative;
  left: -10%;
  top: -10%;
  height: auto !important;
  opacity: 0.4;
  z-index: 3;
}

.piece {
  width: 100%;
  height: 100%;
  padding: 10%;
  z-index: 3;
}

.x-hide {
  font-family: sans-serif;
  position: absolute;
  top: 0px;
  right: 8px;
}

.x-hide:hover {
  cursor: pointer;
}
