.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.vertical-center {
  position: relative;
  top: 25%;
}

.piece {
  width: 100%;
  height: auto;
  padding: 10%;
}
