.square {
  width: 100px;
  height: 100px;
  margin: -2px;
}

.piece {
  max-width: 80%;
  height: auto;
  padding: 10%;
}

.letter-label {
  font-size: 12px;
  position: relative;
  left: 2px;
}

.number-label {
  font-size: 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
