body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bB {
  content: url("./images/pieces/black_bishop.png");
}

.bK {
  content: url("./images/pieces/black_king.png");
}

.bN {
  content: url("./images/pieces/black_knight.png");
}

.bP {
  content: url("./images/pieces/black_pawn.png");
}

.bQ {
  content: url("./images/pieces/black_queen.png");
}

.bR {
  content: url("./images/pieces/black_rook.png");
}

.wB {
  content: url("./images/pieces/white_bishop.png");
}

.wK {
  content: url("./images/pieces/white_king.png");
}

.wN {
  content: url("./images/pieces/white_knight.png");
}

.wP {
  content: url("./images/pieces/white_pawn.png");
}

.wQ {
  content: url("./images/pieces/white_queen.png");
}

.wR {
  content: url("./images/pieces/white_rook.png");
}
